<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsusFanControlGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AsusFanControlGUI.Properties.Settings>
            <setting name="fanSpeed" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="turnOffControlOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forbidUnsafeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToTrayOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoRefreshStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fanCurveEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fanCurve" serializeAs="String">
                <value>30:40;55:50;70:65;80:90;90:100</value>
            </setting>
            <setting name="pollingIntervalMs" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="startWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>VI</value>
            </setting>
        </AsusFanControlGUI.Properties.Settings>
    </userSettings>
</configuration>
